body { background-color:#FEFEFE;
font-size:0.9em;
font-family:Georgia , serif;
background-image: url('http://3.bp.blogspot.com/-Xttzv7cxmbQ/T8JUwA0Uk0I/AAAAAAAAFMg/Mee9LMsoJC0/s1600/free+digital+scrapbook+paper_pastel+stripes.jpg');
}
    
    /*backgrundsfärg #FFF5F5
    färg för header #EF3C7B
    Container:#E0C2C2
    kontrastfärg: #910033
    linkfärg:C82E97
    */
#moln
{background-image: url('http://i295.photobucket.com/albums/mm151/hoottstuffs/bakgrund.png?t=1386201804');
width:960px;
height:400px;
overflow:auto;
margin: 0 auto;}



header { background-color:#6F5F48;
font-size:12px;
text-align:center;
width:960px;
overflow: auto;
margin: 0 auto;
color:#FEFEFE;
border-top:solid black;

}    


H3,H4{color:#EF6C9A;
}

h2 { background-color:#898072 ;
color: black;
margin-left:-5px;
}
    
#container {

Background-color:#E0C2C2;
width:960px;
max-height: 800px;
overflow: auto;
margin: 0 auto;
}    


#nav { 
background-color:#FEFEFE;
text-align: center;
margin-top: 20px;
border:dotted 2px;
border-color:#910033;
width: 200px;
min-height:210px ;
float: left;
margin-left:10px;
}    


#nav li {background:#EAEAEA;
text-align:center;
width:77%;
border:solid white 1px;
color:#EF3C7B;
font-size:1.1em;
list-style-type: none;
text-decoration: none;
}
#nav li a{display:block ;
}


.active {display:block;
background-color:#C4C4C4;
}

/*infoga bild på mig*/
#nav p {background-image: url('http://i295.photobucket.com/albums/mm151/hoottstuffs/549741_3583045779499_1262746047_n.jpg?t=1386203115');
width:180px;
height:200px;
background-size: contain;
background-repeat: no-repeat;
margin-left:20px;
}


a:visited {color:#C82E97 }
a:focus {color:#000000;}
a:hover {color:#000000;
}


.under { background:#EAEAEA;
width:50%;
border:solid white 1px;
color:#EF3C7B;
font-size:1.1em;
list-style-type: none;
}






#content { 
padding-left:5px;
background-color:#FEFEFE;
margin-left:230px;  
margin-right: 10px;
padding-bottom: 10px;
padding-right:5px ;
}

/*lilla texten i loggarna*/
.mini{font-size:0.7em;
border-bottom: dashed 1.7px ;
border-color:#910033;
}

.byt{color:#EF6C9A;}
.tabell{border: dotted #EF6C9A;
margin-left:25%;}
.tabell th,td {border: none;
}
 
 
    

#bild { width:200px;
height:150px;
float:left;
margin-right:30px;
background-image:url('http://cdn1.cdnme.se/cdn/6-1/1888849/images/2011/ko_151219283.gif');
background-size: contain;
background-repeat: no-repeat;
}

#footer { 
background-color:#E6E6E6;
color:gray;
font-size:0.8em;
width:100%;
min-height: 40px;
margin-bottom: -15px ;

} 

